.details-image::after{
    content: "";
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: rgba(0,0,0,2);
    opacity: 0.7;
}
.details-image img{
    height: 850px;
}
.details-image {
    height: 850px !important;
}